﻿@{
    ViewBag.Title = "Spaceship store";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2></h2>
            </hgroup>
            <p>
                You gonna buy an spaceship to travel through stars and galaxies!
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Buy a spaceship
    </li>

    <li class="two">
        <h5>And then go on!1</h5>
        Try it!
    </li>
</ol>
<script>
    Ext.onReady(function() {
        Ext.require([
            'Ext.tab.*',
            'Ext.window.*',
            'Ext.tip.*',
            'Ext.layout.container.Border'
        ]);
        var win = Ext.create('widget.window', {
            title: 'Layout Window',
            closable: true,
            closeAction: 'hide',
            //animateTarget: this,
            width: 600,
            height: 350,
            layout: 'border',
            bodyStyle: 'padding: 5px;',
            items: [
                {
                    region: 'west',
                    title: 'Navigation',
                    width: 200,
                    split: true,
                    collapsible: true,
                    floatable: false
                }, {
                    region: 'center',
                    xtype: 'tabpanel',
                    items: [
                        {
                            title: 'Bogus Tab',
                            html: 'Hello world 1'
                        }, {
                            title: 'Another Tab',
                            html: 'Hello world 2'
                        }, {
                            title: 'Closable Tab',
                            html: 'Hello world 3',
                            closable: true
                        }
                    ]
                }
            ]
        });
        win.show();
    });
</script>